body{
	margin: 0;
	padding: 0;
}

 	/* header css start*/

 header{
 	background-color: #121B2A;
 	padding:10px 0px;
 }

.wrapper {
	width:80%;
	margin:0 auto;
	overflow:hidden;
}

.logo {
	width:17%;
	float: left;
}

.logo img{
	width: 100%;
}

.menu {
	width:80%;
	float:right;
	padding-top:30px;
}

.menu ul{
	float:right;

}

.menu ul li{
	list-style:none;
	float: left;
}

.menu ul li a{
	font-family:sans-serif;
	font-weight:400;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	padding: 0px 24px;
    display: inline-block;
    transition:.3s;
}

.menu ul li a:hover{
	color:#0078BD;
}

.menu ul li:last-child a{
	padding-right:0px;  
}


	/*header css end*/
